* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #0e0e0e;
    line-height: 1.6;
    background-color: #f9f9f9;
}

header {
    padding: 10px 150px 8px; 
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    box-shadow: 
        0 1.5px 2px rgba(0,0,0,0.1),
        0 -1.5px 4px rgba(0,0,0,0.1);
    display: flex;
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo img {
    width: 40px;  
    height: auto;  
}

.logo span {
    font-size: 1.2rem;
    font-weight: 900;
    bottom: -4px;
    position: relative;
    color: rgb(21, 21, 21);
    font-family: 'Noto Sans', sans-serif;
    margin-left: 6px;
}

.logo a {
    text-decoration: none;
    display: flex;
}

nav {
    margin-left: 205px;
    padding-bottom: 1px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

nav a {
    color: #555151;
    text-decoration: none;
    font-family: Verdana, 'Geneva', sans-serif;
    transition: color 0.2s;
    font-size: 0.9rem;
}

nav a:hover {
    color: #2445ff;
}

.header-icons {
    display: flex;
    gap: 10px;
    margin-left: 200px;
}

.header-icons img {
    width: 23px;  
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.header-icons a {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    line-height: 1;
    transition: background-color 0.1s;
    width: 46px;  
    height: 46px;
    position: relative;
}

.header-icons a:hover {
    background-color: rgba(236, 236, 236, 0.89);
}

main {
    margin: 30px 120px;
    font-size: 1.3rem;
    background-color: #f9f9f9;
}









footer {
    background-color: #f9f9f9;
    padding-top: 45px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-one img {
    width: 40px;
    height: auto;
}

.footer-socials {
    gap: 13px;
    display: flex;
}

.footer-socials img {
    width: 15px;
    height: auto;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.footer-socials a {
    text-decoration: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
    background-color: rgba(236, 236, 236, 0.89);
    transition: background-color 0.1s;
    width: 37px;  
    height: 37px;
    position: relative;
    transform: translateY(-5px);
}

.footer-socials a:hover {
    background-color: #2445ff;
}

.footer-socials a:hover img {
    filter: brightness(0) invert(1);  
}

.footerr {
    display: grid;
    margin: 0 150px;
    grid-template-columns: repeat(4, 1fr);
    gap: 35px;
}

.footer-content {
    gap: 1px;
    display: grid;
}

.footer-one h2 {
    gap: 6px;
    display: flex;
    color: rgb(21, 21, 21);
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    align-items: center;
}

.footer-one p {
    padding-top: 18px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.1rem;
    color: #6c6868;
}

.footer-two h3 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #101010;
}

.footer-links {
    padding-top: 17px;
}

.footer-links ul {
    list-style: none;
    gap: 4px;
    display: grid;
}

.footer-links a {
    text-decoration: none;
    color: #6c6868;
    font-size: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
    transition: color 0.1s;
}

.footer-links a:hover {
    color: #2445ff;
}

.footer-content-three {
    gap: 15px;
    display: grid;
}

.footer-three h4 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #101010;
}

.footer-links-two ul {
    list-style: none;
    gap: 5px;
    display: grid;
}

.footer-links-two a {
    text-decoration: none;
    color: #6c6868;
    font-size: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.2px;
    transition: color 0.1s;
}

.footer-links-two a:hover {
    color: #2445ff;
}

.footer-four {
    gap: 3px;
    display: grid;
}

.footer-four h4 {
    font-size: 0.9rem;
    font-weight: 600;
    font-family: 'Noto Sans', sans-serif;
    color: #101010;
    letter-spacing: 0.2px;
}

.footer-four p {
    color: #6c6868;
    font-size: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.2px;
}

.footer-content-four h5 {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
    color: #101010;
}

.footer-content-four p {
    padding-top: 16px;
    text-decoration: none;
    color: #6c6868;
    font-size: 0.1rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
    line-height: 1.7;
}

.footer-content-four form {
    padding-top: 15px;
    display: grid;
}

.footer-content-four input {
    padding-top: 10px;
    padding-bottom: 9px;
    padding-left: 15px;
}

.footer-content-four button {
    margin-top: 9px;
    padding-top: 9px;
    padding-bottom: 8px;
}

.email input {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.email ::placeholder {
    color: #8c8b8b;
    font-size: 0.7rem;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
}

.email input:focus {
    border-color: #425eff;
    outline: none;  
    box-shadow: 0 0 3px rgba(54, 101, 255, 0.8);
}

.email button {
    border-radius: 10px;
    border: 1px solid #2445ff;
    background-color: #2445ff;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.1px;
    font-weight: 300;
    transition: background-color 0.2s;
}

.email button:hover {
    background-color:#223edb;
    border: 1px solid #223edb;
}

.footer-copy {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 150px;
    margin-top: 45px;
}

.copy {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.1rem;
    color: #6c6868;
    margin-top: 33px;
}

.footer-legal {
    margin-left: 320px;
}

.footer-legal ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 5px;
    margin-bottom: 43px;
}

.footer-legal a {
    text-decoration: none;
    color: #6c6868;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
    font-size: 0.1rem;
    transition: color 0.1s;
}

.footer-legal a:hover {
    color: #2445ff;
}



.about {
    gap: 15px;
    display: grid;
}

.about h1 {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.35rem;
    color: #242424;
    font-weight: 600;
    letter-spacing: 0.2px;
    padding-top: 6px;
}

.about p {
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.1px;
    color: #535353;
}



.story {
    background-color: #ffffff;
    margin: 48px 30px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 35px 10px 30px 30px;
    gap: 17px;
    display: grid;
}

.story h2 {
    color: #242424;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2rem;
}

.story p {
    color: #535353;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.95rem;
}


.name-values h3 {
    color: #242424;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.17rem;
    text-align: center;
    letter-spacing: 0.1px;
    padding-bottom: 25px;
}

.our-values {
    grid-template-columns: repeat(3, 1fr);
    display: grid;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 30px;
    gap: 25px;
}

.values-one,
.values-two,
.values-three {
    min-width: 0;  
    width: 100%;
    box-sizing: border-box;
}

.values-one,
.values-two,
.values-three {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.values-img-one,
.values-img-two,
.values-img-three {
    width: 48px;
    height: 48px;
    background-color: #d6e8ff;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;   
    margin-bottom: 17px;
    margin-top: 22px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.description-one h4,
.description-two h5,
.description-three h6 {
    text-align: center;
    color: #242424;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
}


.description-one p,
.description-two p,
.description-three p {
    color: #535353;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.1rem;
    text-align: center;
    padding: 10px 25px 23px 25px;
}

.email-img img,
.geo-img img,
.phone-img img,
.hours-img img {
    width: 20px;
    height: auto;
    filter: invert(38%) sepia(98%) saturate(6986%) hue-rotate(234deg) brightness(100%) contrast(104%);
}

.contact-section {
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 50px 150px 35px 150px;
    background-color: #fff;
}


.contacts-name h2 {
    color: #242424;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.18rem;
    padding-top: 35px;
    padding-left: 30px;
}

.email-us,
.visit-us,
.call-us,
.business-hours {
    display: flex;
    gap: 11px;
}

.email-img,
.geo-img,
.phone-img,
.hours-img {
    width: 43px;
    height: 43px;
    background-color: #d6e8ff;  
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    display: flex;
    gap: 245px;
    padding: 23px 10px 27px 30px;
}

.contacts-columns-one {
    display: grid;
    gap: 20px;
}

.contacts-columns-two {
    padding-bottom: 3px;
    display: grid;
    gap: 30px;
}

.email-description h3,
.geo-description h4,
.phone-description h5,
.hours-description h6 {
    color: #242424;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.05rem;
}

.email-description p,
.geo-description p,
.phone-description p,
.hours-description p {
    color: #535353;
    font-family: 'Noto Sans', sans-serif;
    font-size: 0.1rem;
}








